body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
}

h1, h2, h3 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

form label {
    margin-right: 10px;
}

input, select, button {
    margin: 5px 0;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#balance {
    color: #007bff;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.ingreso {
    color: green;
    font-weight: bold;
}

.gasto {
    color: red;
    font-weight: bold;
}
